<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />

<head>
	<meta charset="utf-8">
	<title>Ajout des Voitures</title>
</head>

<body>
	<div th:replace="template"></div>
	<div class="container mt-5">
		<div class="card">
			<div class="card-header" th:if="${mode=='new'}"> Ajout des Voitures </div>
			<div class="card-header" th:if="${mode=='edit'}">Modification des Voitures </div>
			<div class="card-body">
				<form th:action="@{saveVoiture}" method="post">
					
					<input hidden name="page" class="form-control" th:value="${currentPage}" />
					<input hidden name="size" class="form-control" th:value="${size}" />
					
					<div class="form-group">
						<label class="control-label" hidden>ID Voiture :</label>
						<input type="hidden" name="idVoiture" class="form-control" th:value="${voiture.idVoiture}" />
					</div>
					<div class="form-group">
						<label class="control-label">Couleur Voiture :</label>
						<input type="text" name="couleur" class="form-control" th:value="${voiture.couleur}" />
						<span th:errors=${voiture.couleur} class="text-danger"> </span>

					</div>
					<div class="form-group">
						<label class="control-label">Prix Voiture :</label>
						<input type="text" name="prixVoiture" class="form-control" th:value="${voiture.prixVoiture}" />
						<span th:errors=${voiture.prixVoiture} class="text-danger"> </span>

					</div>
					<div class="form-group">
						<label class="control-label">Date d'immatriculation :</label>
						<input type="date" name="immDate" class="form-control" th:value="${voiture.immDate}" />
						<span th:errors=${voiture.immDate} class="text-danger"> </span>
					</div>

					<div class="form-group">
						<label class="control-label">Marque :</label>
						<select name="categorie" class="form-control" th:value="${voiture.marque.idMarque}"
							th:if="${!#strings.isEmpty(voiture.marque)}">
							<option th:each="m:${marques}" th:if="${mode=='edit'}" th:value="${m.idMarque}"
								th:text="${m.nomMarque}" th:selected="${ m.idMarque==voiture.marque.idMarque}">
							</option>
						</select>
						<!-- s'il s'agit d'un ajout (mode==new) ou d'une modification d'un produit ayant une catégorie null -->
						<select name="marque" class="form-control" th:if="${#strings.isEmpty(voiture.marque)}">
							<option th:each="m:${marques}" th:value="${m.idMarque}" th:text="${m.nomMarque}">
							</option>
						</select>
					</div>


					<div>
						<button type="submit" class="btn btn-primary">Valider</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>